<!DOCTYPE html>
<html>
<head>
<meta charset='utf-8' />
<link href='/static/main.min.css' rel='stylesheet' />
<link href='https://bootswatch.com/4/slate/bootstrap.min.css' rel='stylesheet' />
<script src='static/lib/jquery.min.js'></script>
<script src='/static/main.js'></script>
<script src='/static/theme-chooser.js'></script>


<script>

  document.addEventListener('DOMContentLoaded', function() {

     /* initialize the external events
    -----------------------------------------------------------------*/
    var eventDropped = undefined;
    var containerEl = document.getElementById('external-events');
    new FullCalendar.Draggable(containerEl, {
      itemSelector: '.fc-event',
      eventData: function(eventEl) {
        console.log("eventData");
        console.log(eventEl);
        return {
          title: eventEl.innerText.trim()
        }
      }
    });


    function getIdEvent( event )
    {
       if (event.id != "")
       {
         return event.id;
       }
       else
       {
         return event.extendedProps.dbid;
       }
    }
    var calendarEl = document.getElementById('calendar');

    var calendar = new FullCalendar.Calendar(calendarEl, {
      now: '2020-02-07',
      themeSystem: "bootstrap",
      //height: '90%',
      editable: true, // enable draggable events
      //aspectRatio: 1.8,
      scrollTime: '00:00', // undo default 6am scrollTime
      header: {
        left: 'today prev,next',
        center: 'title',
        //right: 'resourceTimelineWeek,resourceTimelineTenDay,resourceTimelineMonth,resourceTimelineYear,listWeek'
        right: 'resourceTimelineMonth,resourceTimelineYear,listWeek'
      },
      locale: "en-US",
      timezone : 'local',
      defaultView: 'resourceTimelineMonth', 
    /*  views: {        
        resourceTimelineTenDay: {
          type: 'resourceTimeline',
          duration: { days: 20 },
          buttonText: '20 days',                  
        }
      },
      */
      allDayDefault: true,
      resourceAreaHeaderContent: 'Users',

      resources: { // you can also specify a plain string like 'json/resources.json'
        url: 'json/resources.json',
        failure: function() {
          document.getElementById('script-warning').style.display = 'block';
        }
      },

      events: { // you can also specify a plain string like 'json/events-for-resources.json'
        //url: 'json/events-for-resources.json',
        url: 'events', //-for-resources.json',
        failure: function() {
          document.getElementById('script-warning').style.display = 'block';
        }
      },
      
      drop:function(info){
        $.ajax({
                        url: '/create-event',
                        data: '&date=' + info.date.toLocaleDateString("en-US") + '&resource=' + info.resource.id +'&title=' + info.draggedEl.innerText ,
                        type: "POST",
                        success: function (response) {
                          console.log(response);
                          console.log(eventDropped);
                          eventDropped.setExtendedProp("dbid",response);
                          console.log(eventDropped.id);
                          //console.log(response);
                          //console.log(eventDropped);        
                           // displayMessage("Updated Successfully");
                        }
                    });     
      },

      eventReceive: function( info ) { 
        eventDropped = info.event;        
        console.log("eventReceive");
        console.log(info);
        console.log(eventDropped);
      },

      eventDrop: function (event, delta) {

        console.log("eventDrop");
        console.log(event);
        console.log(delta);

        newResource  = null;
        console.log("eventDrop ");
        console.log(event.newResource);
        if ( event.newResource !=undefined)
        {
          newResource = event.newResource.id;          
        }
        else
        {
          console.log("event.newResource undefined ")
        }
        
                    console.log(event.event.start.toLocaleDateString("en-US"));
                    //var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
                    //var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
                    $.ajax({
                        url: '/edit-event',
                        data: '&start=' + event.event.start.toLocaleDateString("en-US") /*+ '&end=' + event.event.end.toLocaleDateString("en-US")*/ + '&id=' + getIdEvent(event) + '&resource=' + newResource,
                        type: "POST",
                        success: function (response) {
                           // displayMessage("Updated Successfully");
                        }
                    });                    
                },
        eventClick: function (event) {
          console.log("eventClick");
          console.log(event);
          /*
            var deleteMsg = confirm("Do you really want to delete?");
            if (deleteMsg) {
                $.ajax({
                    type: "POST",
                    url: "delete-event.php",
                    data: "&id=" + event.id,
                    success: function (response) {
                        if(parseInt(response) > 0) {
                            $('#calendar').fullCalendar('removeEvents', event.id);
                            displayMessage("Deleted Successfully");
                        }
                    }
                });
            }
            */
          },
        select: function (start, end, allDay) {
          console.log("select");
          console.log(start);
          console.log(end);
          console.log(allDay);
          /*
            var title = prompt('Event Title:');

            if (title) {
                var start = $.fullCalendar.formatDate(start, "Y-MM-DD HH:mm:ss");
                var end = $.fullCalendar.formatDate(end, "Y-MM-DD HH:mm:ss");

                $.ajax({
                    url: 'add-event.php',
                    data: 'title=' + title + '&start=' + start + '&end=' + end,
                    type: "POST",
                    success: function (data) {
                        displayMessage("Added Successfully");
                    }
                });
                calendar.fullCalendar('renderEvent',
                        {
                            title: title,
                            start: start,
                            end: end,
                            allDay: allDay
                        },
                true
                        );
                        
            }
            calendar.fullCalendar('unselect');
            */
        },
        eventResize:function(event)
        {
          console.log(event);
          
          $.ajax({
          url:"/resize",
          type:"POST",
          data:{start:event.event.start.toLocaleDateString("en-US"), end:event.event.end.toLocaleDateString("en-US"), id:getIdEvent(event.event)},
          success:function(){
          calendar.fullCalendar('refetchEvents');
          alert('Event Update');
          }
        })
          /*
        var start = $.fullCalendar.formatDate(event.start, "Y-MM-DD HH:mm:ss");
        var end = $.fullCalendar.formatDate(event.end, "Y-MM-DD HH:mm:ss");
        var title = event.title;
        var id = event.id;
        $.ajax({
          url:"update.php",
          type:"POST",
          data:{title:title, start:start, end:end, id:id},
          success:function(){
          calendar.fullCalendar('refetchEvents');
          alert('Event Update');
          }
        })*/
        },
        });

    calendar.render();
  });

</script>
<style>

  body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
  }

  #script-warning {
    display: none;
    background: #eee;
    border-bottom: 1px solid #ddd;
    padding: 0 10px;
    line-height: 40px;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    color: red;
  }

  #loading {
    display: none;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  #calendar {
    max-width: 85%;
    /* margin: 50px auto;*/
   /* background-color:#606060;*/
  }

  #wrap {
    width: 1100px;
    margin: 0 auto;
  }

  #external-events {
    position: absolute;
    top: 10px;
    right: 0;
    width: 150px;
    padding: 0 10px;
    border: 1px solid #ccc;
    background: #eee;
    text-align: left;
  }

  #external-events h4 {
    font-size: 16px;
    margin-top: 0;
    padding-top: 1em;
  }

  #external-events .fc-event {
    margin: 10px 0;
    cursor: pointer;
  }

  #external-events p {
    margin: 1.5em 0;
    font-size: 11px;
    color: #666;
  }

  #external-events p input {
    margin: 0;
    vertical-align: middle;
  }


</style>
</head>
<body>

  <div id='script-warning'>
    This page should be running from a webserver, to allow fetching from the <code>json/</code> directory.
  </div>

  <div id='loading'>loading...</div>

  <div id='calendar'></div>

  <div id='external-events'>
    <h4>Draggable Events</h4>
    <div class='fc-event'>My Event 1</div>
    <div class='fc-event'>My Event 2</div>
    <div class='fc-event'>My Event 3</div>
    <div class='fc-event'>My Event 4</div>
    <div class='fc-event'>My Event 5</div>
    <p>
      <input type='checkbox' id='drop-remove' />
      <label for='drop-remove'>remove after drop</label>
    </p>
  </div>

</body>
</html>
